<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title th:text="${tittle}"> Hello, Spring!</title>
    <link href="../static/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <link th:href="@{/css/Main.css}" rel="stylesheet"/>

    <script>

    var audio = document.getElementById('audio');

    jQuery.ajax({
        url: 'http://www.noiseaddicts.com/samples_1w72b820/4202.mp3',
        async: false,
        beforeSend: function(xhr){
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.setRequestHeader('Access-Control-Request-Headers', 'x-requested-with');
            xhr.setRequestHeader('Access-Control-Allow-Headers', 'x-requested-with, content-type');
            xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST, GET, PUT, OPTIONS, DELETE');
            xhr.setRequestHeader('Access-Control-Max-Age', '3600');
        },
        complete: function() {
            audio.play(); // audio will play in iOS before 4.2.1. Audio will not play in any iOS device 4.2.1 or later.
        }
    });


    function goBack() {
      window.history.back();
    }
    function myFunction() {
      var r = confirm("Yakin ingin menyimpan perubahan?");
      if (r != true) {
        event.preventDefault();
      }
    }

    function deleteConfirm() {
      var r = confirm("are you sure want to delete?");
      if (r != true) {
        event.preventDefault();
      }
    }

    $( function() {
        $( "#datepicker" ).datepicker();
    } );

    $(document).ready(function () {

        $('.launch-modal').on('click', function(e){
            e.preventDefault();
            $( '#' + $(this).data('modal-id') ).modal();
        });

        $('#artistform').validate({ // initialize the plugin
            rules: {
                artistName: {
                    required: true,
                },
                albumName: {
                    required: true,
                },
                price: {
                    required: true,
                    number:true,
                    min:1,
                },
                releaseDate: {
                    required: true,
                }
            }
        });
    });
    </script>
</head>

<div th:fragment="datatables">
    <script type="text/javascript">
$(document).ready( function () {
    var table = $('#employeesTable').DataTable({
        "sAjaxSource": "/guestbook/getall",
        "sAjaxDataProp": "",
        "aoColumns": [
            { "mData": null, "bSortable": false },
            { "mData": "name" },
            { "mData": "address" },
            { "mData": "phoneNumber" },
            { "mData": "createdDate" ,"render": function (data) {
                var date = new Date(data);
                var month = date.getMonth() + 1;
                return (month.length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
            }},
        ]
    })

    table.on( 'order.dt search.dt', function () {
        table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
});

$(document).on('click','.audioSample' ,function(){
    $('#text').empty();
    var $item = $(this).closest("tr").find('td');
    $.each($item, function(key, value){
        console.log(key+":"+$(value).text())
        console.log($(value).find('img').attr('src'))
        if(key == 1){
            $('#image').attr('src',$(value).find('img').attr('src'));
        }
        if(key == 1) {
            $('#text').append( "<p>album : "+$(value).text()+"</p>" );
        }
        if(key == 2) {
            $('#text').append( "<p>artist : "+$(value).text()+"</p>" );
        }
    })
});

function clickSample(data) {
        console.log(image+":"+artist+":"+album)
        $('#image').attr('src',data.imageURL);
        $('#text').append( "<p>"+data.artistName +":"+ data.albumName+"</p>" );
    };
    </script>
</div>

<div th:fragment="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="promotedemote">Guest Book</a></li>
    </ul>
</div>

<div th:fragment="footer" align="center">
    <p>
        Copyright &copy DPA Dev
    </p>
</div>

</html>